<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <p>test page {{count}}</p>
    <form action="{{ url_for('test') }}" method="POST" name='nclick' >
        <button id="clickButton">click</button>
    </form>
</body>
<script>
    console.log('testです')
    count = 0;
    const clickButton = document.getElementById('clickButton')
    clickButton.addEventListener('click', function(){
        count += 1
        const formData = FormData();
        fetch(`${window.origin}/counter`, {
            method: "POST",
            body: formData
        }).then(function (response) {
            return response.text();
        }).then(function (text) {
            console.log(text);
        })
    })
</script>
</html>
